<template>
  <div>
    <div class="row header-text">
      <div class="col-md-10 col-xl-6 offset-md-1 offset-xl-2 q-ma-sm">
        <h3 class="text-brand font-code">
          <span class="sub-faded-title text-h3 font-code">
            >_ whoami<span class="blicking-cursor text-white">|</span><br />
          </span>
          Hello, <span class="text-brand"></span>
        </h3>
        <p class="text-body1 text-justify">
          My Name is Robin and I am a self-taught Web Developer based in
          Germany. A year ago, I dwelled into Web development world and learned
          various concepts and tools. I am a big fan of rapid web development
          that's why I choose tools that get things done quickly, neatly and
          with maintainability in mind,but I am not limited to my favourite
          tools and can learn anything within short span of time.
        </p>
        <Skills />
      </div>
    </div>
  </div>
</template>

<script>
import Skills from "../components/Skills";
export default {
  components: {
    Skills
  }
};
</script>
