<template>
  <div>
    <div class="row header-text">
      <div class=" col-xl-6 offset-md-1 offset-xl-2 q-ma-sm">
        <h3 class="text-brand font-code">
          <span class="sub-faded-title text-h3 font-code">
            >_ contact<span class="blicking-cursor text-white">|</span> <br />
          </span>
          Ping Me...<span class="text-brand"></span>
        </h3>
        <p class="text-body1">
          Currently am looking for developer roles. If you have any questions,
          Please contact me.
        </p>
        <SocialLinks />
        <ContactForm />
      </div>
    </div>
  </div>
</template>

<script>
import ContactForm from "../components/ContactForm";
import SocialLinks from "../components/SocialLinks";
export default {
  components: {
    ContactForm,
    SocialLinks
  }
};
</script>
