<template>
  <div class="fixed-center text-center">
    <p class="font-code text-h2">
      Sorry, nothing here...<strong>(404)</strong>
    </p>
    <q-btn
      no-caps
      outline
      color="brand"
      style="width:200px;"
      to="/"
      label="Go back"
    />
  </div>
</template>

<script>
export default {
  name: "Error404"
};
</script>

<style>
body {
  background: #111111;
  color: #d3d3d3;
}
</style>
