<template>
  <div>
    <Header />
  </div>
</template>

<script>
import Header from "../components/Header";

export default {
  name: "PageIndex",
  components: {
    Header
  }
};
</script>

<style></style>
