<template>
  <div>
    <div class="header">
      <div class="row">
        <div class="col-xs-12 col-md-8 offset-xl-2 offset-md-1 q-ma-sm">
          <h3 class="text-brand font-code">
            <span class="sub-faded-title text-h3 font-code">
              >_ greetings<span class="blicking-cursor text-white">|</span>
              <br />
            </span>
            Hello World...
          </h3>
          <div>
            <span class="text-h3">I am </span>
            <span class="text-h2">Robin Mathew</span><br />
            <span class="text-h3">I am a Web Developer</span>
          </div>
          <q-btn no-caps to="/about" outline color="brand" class="q-mt-xl"
            >More About Me</q-btn
          ><q-btn
            no-caps
            to="/contact"
            outline
            color="brand"
            class="q-mt-xl q-ml-md"
            >Get in touch</q-btn
          >
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.sub-faded-title {
  opacity: 0.6;
}
</style>
