<template>
  <div class="particles">
    <div id="particles-js"></div>
  </div>
</template>

<script>
import "particles.js";
export default {
  name: "particles",
  mounted() {
    this.loadParticlesJson();
  },
  methods: {
    doSomething() {
      console.log("BUtton Working");
    },
    loadParticlesJson() {
      window.particlesJS({
        particles: {
          number: {
            value: 70,
            density: {
              enable: false,
              value_area: 1000
            }
          },
          color: {
            value: "#42e8e0"
          },
          shape: {
            type: "circle",
            stroke: {
              width: 0,
              color: "#000000"
            },
            polygon: {
              nb_sides: 5
            }
          },
          opacity: {
            value: 0.2725800503471389,
            random: true,
            anim: {
              enable: false,
              speed: 2,
              opacity_min: 0.1,
              sync: false
            }
          },
          size: {
            value: 2.5,
            random: true,
            anim: {
              enable: false,
              speed: 50,
              size_min: 0.1,
              sync: false
            }
          },
          line_linked: {
            enable: true,
            distance: 185.5118091298284,
            color: "#42e8e0",
            opacity: 0.4,
            width: 1.0
          },
          move: {
            enable: true,
            speed: 1,
            direction: "none",
            random: false,
            straight: false,
            out_mode: "bounce",
            bounce: false,
            attract: {
              enable: true,
              rotateX: 600,
              rotateY: 1200
            }
          }
        },
        interactivity: {
          detect_on: "canvas",
          events: {
            onhover: {
              enable: true,
              mode: "grab"
            },
            onclick: {
              enable: true,
              mode: "push"
            },
            resize: true
          },
          modes: {
            grab: {
              distance: 119.88011988011988,
              line_linked: {
                opacity: 1
              }
            },
            bubble: {
              distance: 287.7122877122877,
              size: 40,
              duration: 2,
              opacity: 8,
              speed: 3
            },
            repulse: {
              distance: 200,
              duration: 0.4
            },
            push: {
              particles_nb: 4
            },
            remove: {
              particles_nb: 2
            }
          }
        },
        retina_detect: true
      });
    }
  }
};
</script>

<style scoped>
#particles-js {
  width: 100%;
  height: 100%;
  background-color: #040022;
  /*background-image: url('');*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

canvas {
  display: block;
}
.main-app {
  position: absolute;
}
</style>
