<template>
  <div>
    <div class="text-h5 ">Tools and Technologies</div>
    <ul v-for="(skill, index) in skills" :key="index">
      <li class="text-body1">
        {{ skill.type }}
      </li>
      <q-chip
        v-for="(tech, index) in skill.list"
        :key="index"
        outline
        square
        color="faded"
      >
        <span class="text-brand-font text-capitalize ">{{ tech }}</span>
      </q-chip>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      skills: [
        {
          type: "FrontEnd",
          list: [
            "HTML",
            "CSS",
            "Javascript",
            "Vue.js",
            "Nuxt.js",
            "Vuetify",
            "Quasar.js",
            "D3.js",
            "Three.js"
          ]
        },
        {
          type: "Backend",
          list: ["C#", "Node.js", "Express.js", "Django", "Python", "Flask"]
        },
        {
          type: "Database",
          list: [
            "MySQL",
            "PostgreSQL",
            "MongoDB",
            "Mongoose(ODM)",
            "Django (ORM)",
            "SQLAlchemy (ORM)"
          ]
        },
        {
          type: "Other Tools",
          list: [
            "Git",
            "Github",
            "Responsive Web Design",
            "API Design and Documentation",
            "RESTful service",
            "GraphQL",
            "SSH",
            "Nginx",
            "Linux",
            "TCP/IP",
            "HTTP"
          ]
        }
      ]
    };
  }
};
</script>

<style></style>
