<template>
  <div>
    <div>
      <q-btn-group flat>
        <div v-for="(link, index) in sociallinks" :key="index">
          <q-btn
            type="a"
            outline
            color="faded"
            class="q-ma-sm"
            :href="link.href"
          >
            <q-icon :name="link.icon" left></q-icon
            ><span class="text-white">{{ link.name }}</span>
          </q-btn>
        </div>
      </q-btn-group>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      sociallinks: [
        {
          href: "mailto:robin.x85@gmail.com",
          icon: "mdi-gmail",
          name: "email"
        },
        {
          href: "https://www.linkedin.com/in/robinmathewarackal/",
          icon: "mdi-linkedin-box",
          name: "LinkedIn"
        },
        {
          href: "https://www.xing.com/profile/RobinMathew_Arackal/",
          icon: "mdi-xing-box",
          name: "Xing"
        }
      ]
    };
  }
};
</script>
