<template>
  <div class="q-mt-md q-mt-xl ">
    <q-form
      name="contact"
      method="POST"
      data-netlify="true"
      data-netlify-honeypot="bot-field"
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <!-- Hidden input to check for bots -->
      <input type="hidden" name="form-name" value="contact" />
      <q-input
        name="name"
        dark
        color="brand"
        outlined
        v-model="name"
        label="Your name *"
        lazy-rules
        :rules="[val => (val && val.length > 0) || 'Please type your name']"
      />
      <q-input
        name="email"
        type="email"
        dark
        color="brand"
        outlined
        v-model="email"
        label="Email *"
        lazy-rules
        :rules="[val => (val && val.length > 0) || 'Please type your email']"
        error-message="Please Type
      Email"
      />
      <q-input
        name="message"
        type="textarea"
        dark
        color="brand"
        outlined
        v-model="message"
        label="Message *"
        error-color="blue"
        :rules="[val => (val && val.length > 0) || 'Please type your message']"
      />

      <q-btn outline label="Submit" type="submit" class="text-brand" />
      <q-btn label="Reset" type="reset" class="q-ml-sm text-teal" />
    </q-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: null,
      email: null,
      message: null
    };
  },

  methods: {
    encode(data) {
      return Object.keys(data)
        .map(
          key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
        )
        .join("&");
    },
    onSubmit() {
      fetch("/", {
        method: "post",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded"
        },
        body: this.encode({
          "form-name": "contact",
          name: this.name,
          email: this.email,
          message: this.message
        })
      })
        .then(() => {
          alert("I will get in touch");
        })
        .catch(() => console.log(e));
      // const axiosConfig = {
      //   header: { "Content-Type": "application/x-www-form-urlencoded" }
      // };
      // axios
      //   .post(
      //     "/",
      //     this.encode({
      //       "form-name": "contact",
      //       ...this.form
      //     }),
      //     axiosConfig
      //   )
      //   .then(r => console.log(r))
      //   .catch(e => console.log(e));
    },

    onReset() {
      this.name = null;
      this.email = null;
      this.message = null;
    }
  }
};
</script>
<style>
/* Contact form fields default override */
.q-field--dark .q-field__control:before {
  border-color: #484db6;
}
</style>
