// app global css in SCSS form
@font-face {
  font-family: VT323-Regular;
  src: url(./fonts/VT323-Regular.ttf);
}

@font-face {
  font-family: SourceCodePro-Regular;
  src: url(./fonts/SourceCodePro-Regular.ttf);
}

// declare a class which applies it
.font-code {
  font-family: "VT323-Regular";
}

.font-source-code {
  font-family: SourceCodePro-Regular;
}
