<template>
  <q-layout view="hHh lpR fFf" class="font-source-code">
    <q-header
      reveal
      class="bg-primary text-brand font-source-code"
      height-hint="98"
    >
      <q-toolbar>
        <q-toolbar-title>
          <div class="text-h4 font-code q-mt-xl q-ml-sm">
            <span
              @click="$router.push('/')"
              class="cursor-pointer text-brand-font"
            >
              >_ R
            </span>
          </div>
        </q-toolbar-title>
      </q-toolbar>
      <!-- @click="$router.push('#about').catch(err => {})" -->
      <q-tabs align="right" indicator-color="brand">
        <q-route-tab to="/" label="Home" no-caps />
        <q-route-tab to="/about" label="About" no-caps />
        <q-route-tab to="/contact" label="Contact" no-caps />
      </q-tabs>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {
      link: {
        hash: "#contact"
      }
    };
  }
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
  display: border-box;
  background: #111111;
  color: #d3d3d3;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
}
.text-brand {
  color: #d3d3d3;
}
.text-faded {
  color: #d3d3d3;
}
.text-brand-font {
  color: #d3d3d3;
}

.blicking-cursor {
  animation-name: blink;
  animation-duration: 1100ms;
  animation-iteration-count: infinite;
  opacity: 0.9;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
</style>
